<footer id="footer">
    <div class="footer-contenedor">
        <div class="partners">
            <div>
                <img src="/img/universidad.png" alt="">
            </div>
        </div>
        <div class="redes">
            <div>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="made">
            <div>
                <h2>Made with <i class="fa-solid fa-heart"></i> by EnjoyourpetAPP</h2>
            </div>
        </div>
        <div class="copy">
            <div>
                <h2><i class="fa-solid fa-paw"></i> COPYRIGHT 2022 &#169</h2>
            </div>
        </div>
    </div>
</footer>