<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/css/form.css">
  <title>Document</title>
</head>
<body>
<div class="modal-container">
  <div class="modal modal-close">
    <p class="close">x</p>
    <div class="modal-img">
        <img src="/img/form.png" alt="">
    </div>
    <div class="conteiner-form">
        <h2>EnjoyourPet</h2>
        <p class="text">¡Disfruta junto a tu mascota!</p>
      <form class="form_login" action="registrar-Usuario" method="post">  
            <input id="nombre" type="text" name="nombre" placeholder="Nombre" required>
            <input id="correo" type="email" name="correo" placeholder="Correo" required>          
            <input id="contrasenia" type="password" name="contrasenia" placeholder="Contraseña" required>                
            <input id="numero" type="tel" name="numero" placeholder="Número de celular" required>
            <button id="submit-btn" type="submit" name="enviar">Enviar</button>
      </form>
      <p>¿Ya tienes una cuenta? <a href="" class="register text-sesion">Iniciar Sesión</a></p>
    </div>
  </div>
</div>
</body>
</html>