<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/css/form.css">
  <script src="/public/js/register_logic.js"></script>
  <title>Document</title>
</head>
<body>
<div class="modal-container">
  <div class="modal modal-close">
    <p class="close">x</p>
    <div class="modal-img">
        <img src="/img/form.png" alt="">
    </div>
    <div class="conteiner-form">
        <h2>EnjoyourPet</h2>
        <p class="text">¡Disfruta junto a tu mascota!</p>
      <form class="form_login" id="registrar-Usuario-form" action="registrar-Usuario" method="post">  
            <input id="nombre" type="text" name="nombre" placeholder="Nombre" autocomplete="off" required>
            <input id="_correo" type="email" name="correo" placeholder="Correo" autocomplete="off" required>          
            <input id="contrasenia" type="password" name="contrasenia" placeholder="Contraseña" autocomplete="off" required>                
            <input id="numero" type="tel" name="numero" placeholder="Número de celular" autocomplete="off" required>
            <button id="submit-btn registrar-submit-btn" type="submit" name="enviar"onclick="cambiarform()">Enviar</button>
          </form>
      <form class="form_login" id="validar-Usuario-form" action="verificar-mail" method="post" style="display: none;">  
        <input id="__correo" type="email" name="correo" placeholder="Correo" autocomplete="off" required style="display: none;">     
        <input id="codigo" type="text" name="codigo" placeholder="Codigo" maxlength="4" autocomplete="off" required>
        <button id="submit-btn" type="submit" name="enviar">Verificar</button>
      </form>
      <p>¿Ya tienes una cuenta? <a href="" class="register text-sesion">Iniciar Sesión</a></p>
    </div>
  </div>
</div>
</body>
</html>