<div class="modal-containerr">
    <div class="modall modal-closee">
      <p class="closee">x</p>
      <div class="modal-imgg">
          <img src="/img/form.png" alt="">
      </div>
      <div class="conteiner-formm">
          <h2>EnjoyourPet</h2>
          <p class="textt">¡Disfruta junto a tu mascota!</p>
        <form class="form_loginn" action="inciar-sesion" method="post">  
              <input id="ing_correo" type="email" name="correo" placeholder="Correo" autocomplete="off" required>          
              <input id="ing_contrasenia" type="password" name="contrasenia" placeholder="Contraseña" autocomplete="off" required>                
              <button type="submit" class="Ingresar" name="enviar">Iniciar Sesión</button>

        </form>
        <p>¿Aun no tienes una cuenta? <a href="" id="btn-register" class="text-sesionn register">Registrate aquí</a></p>
      </div>
    </div>
  </div>
 
