<div class="modal-containerrr">
    <div class="modalll modal-closee">
      <p class="cerrar">x</p>
      <div class="modal-imggg">
          <img src="/img/form.png" alt="">
      </div>
      <div class="conteiner-formmm">
          <h2>EnjoyourPet</h2>
          <p class="texttt">¿Tu Mascota?, ¡Tu mejor amigo!</p>
          <% if(login) {%>
            <h3> <%= usuario %> </h3>
            <% } %>
          <ul>
            <button class="opciones">Opciones</button>
            <button class="cerrarsesion">Cerrar Sesion</button>
          </ul>
      </div>
    </div>
  </div>
 
